<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                </li>
                <li>
                    <a href="/clarke">Joan Clarke</a>
                </li>
                <li>
                    <a href="/hamilton">Margaret Hamilton</a>
                </li>
                <li>
                    <a href="/hopper">Grace Hopper</a>
                </li>
                <li>
                    <a href="/lovelace">Ada Lovelace</a>
                </li>
                <li>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Charles Babbage</h1>
            <article>
                <p>
                    Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora.
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/CharlesBabbage.jpg" height="400px" alt="imagen de Charles Babbage">
        </aside>
    </main>
    <footer>
        <section>
            <a href="https://es.wikipedia.org/wiki/Charles_Babbage">Quiero saber más!</a>
        </section>
    </footer>
  
</body>
</html>